<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect to HTTPS if needed -->
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="Off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Serve static files -->
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}" />
                </rule>

                <!-- Serve other requests to index.html -->
                <rule name="Fallback to index.html">
                    <match url=".*" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
